<div class="middle-box text-center animated fadeInDown">

  <!-- Page Content -->
  <div class="row">
    <div class="col-lg-12">

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Resend Confirmation Instructions</h5>
        </div>
        <div class="ibox-content">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>

            <div class="actions">
              <%= f.submit "Resend Confirmation Instructions", class: "btn btn-primary block full-width" %>
            </div>

          <% end %>
        </div>
      </div>


    </div>
  </div>
  <!-- Page Content -->

</div>
