<div class="col-md-7 order-md-2 signin-right-column px-5 bg-dark">
  <a class="signin-logo d-sm-block d-md-none" href="#">
    <img src="assets/img/logo-white.png" width="145" height="32.3" alt="QuillPro">
  </a>
  <h1 class="display-4">Sign Up For An Account Today</h1>
  <p class="lead mb-5"></p>
</div>
<div class="col-md-5 order-md-1 signin-left-column bg-white px-5">
  <a class="signin-logo d-sm-none d-md-block" href="#">
    <h3 class="text-center">PHCAccounts</h3>
  </a>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |sign_up| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= sign_up.label :username %>
      <%= sign_up.text_field :username, autocomplete: "User Name", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= sign_up.label :firstname %>
      <%= sign_up.text_field :firstname, autocomplete: "First Name", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= sign_up.label :lastname %>
      <%= sign_up.text_field :lastname, autocomplete: "Last Name", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= sign_up.label :email %>
      <%= sign_up.email_field :email, autofocus: true, autocomplete: "Email", class: "form-control" %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <%= sign_up.label :password %>
      <%= sign_up.password_field :password, autocomplete: "off", class: "form-control" %>
      <% if @minimum_password_length %>
        <small id="emailHelp" class="form-text text-muted"><em>(<%= @minimum_password_length %> characters minimum)</em></small>
      <% end %>
    </div>
    <div class="form-group">
      <%= sign_up.label :password_confirmation %>
      <%= sign_up.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
    <%= sign_up.button :submit, class: "btn btn-primary btn-gradient btn-block"  do %>
      <i class="batch-icon batch-icon-key"></i>
      Sign Up
    <% end %>
    <hr>
    <p class="text-center">
      <%= render "devise/shared/links" %>
    </p>
  <% end %>
</div>
