<!-- Main Navigation -->
<ul class="nav nav-pills flex-column">

  <!-- Navbar Brand -->
  <li class="logo-nav-item">
    <a class="navbar-brand" href="#">
      <h3>PHCACCOUNTS</h3>
    </a>
  </li>
  <!-- Navbar Brand -->

  <!-- Admin Menu -->
  <% if current_admin %>
  <li class="nav-item">
    <a class="nav-link nav-parent" href="#">
      <i class="far fa-lock-alt"></i>
      Administrator Menu
    </a>
    <ul class="nav nav-pills flex-column">
      <li class="nav-link">
        <%= link_to phcaccounts.admin_users_all_path do %>
          User Index
        <% end %>
      </li>
      <li class="nav-link">
        <%= link_to phcaccounts.edit_admin_registration_path) do %>
          Admin Account
        <% end %>
      </li>
      <li class="nav-link">
        <%= link_to phcaccounts.destroy_admin_session_path, method: :delete) do %>
          Admin Logout
        <% end %>
      </li>
    </ul>
  </li>
  <% end %>
  <!-- Admin Menu -->

  <!-- User Menu -->
  <% if current_user %>
  <li class="nav-item">
    <a class="nav-link nav-parent" href="#">
      <i class="far fa-lock-alt"></i>
      My Account
    </a>
    <ul class="nav nav-pills flex-column">
      <li class="nav-link">
        <%= link_to phcaccounts.edit_user_registration_path) do %>
          Update Account
        <% end %>
      </li>
      <li class="nav-link">
        <%= link_to phcaccounts.destroy_user_session_path, method: :delete) do %>
          Logout
        <% end %>
      </li>
    </ul>
  </li>
  <% end %>
  <!-- User Menu -->

</ul>
<!-- Main Navigation -->
