<div class="col-md-7 order-md-2 signin-right-column px-5 bg-dark">
  <a class="signin-logo d-sm-block d-md-none" href="#">
    <img src="assets/img/logo-white.png" width="145" height="32.3" alt="QuillPro">
  </a>
  <h1 class="display-4">Welcome</h1>
  <p class="lead mb-5">Please login to continue.</p>
</div>
<div class="col-md-5 order-md-1 signin-left-column bg-white px-5">
  <a class="signin-logo d-sm-none d-md-block" href="#">
    <h3 class="text-center">PHCAccounts</h3>
  </a>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |sign_in| %>
    <div class="form-group">
      <%= sign_in.label :email %>
      <%= sign_in.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <%= sign_in.label :password %>
      <%= sign_in.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="custom-control custom-checkbox mb-3">
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= sign_in.check_box :remember_me, class: "custom-control-input" %>
          <%= sign_in.label :remember_me, class: "custom-control-label" %>
        </div>
      <% end -%>
    </div>
    <%= sign_in.button :submit, class: "btn btn-primary btn-gradient btn-block"  do %>
      <i class="batch-icon batch-icon-key"></i>
      Sign In
    <% end %>
    <hr>
    <p class="text-center">
      <%= render "devise/shared/links" %>
    </p>
  <% end %>
</div>
